rich
open_gopro==0.17.1
uvicorn
fastapi
asyncio
opencv-python
aiohttp
ultralytics
plotly
pymediainfo
aiofiles
plyer
deep_translator==1.11.1
pygame==2.1.0
numpy<2.0.0
matplotlib==3.5.1
openai
tqdm
scikit-learn